<div class="jumbotron">
  <h1>Instructors' Intro</h1>
  <h2>By Harry and Paul</h2>
  <ul>
    <!-- <li><a href="http://slides.com/harrychenca/programming-basics-13">Introduction slides</a></li> -->
  </ul>
</div>

<div class="jumbotron">
  <h1>FoodMagic</h1>
  <h2>By Dow and Vivien</h2>
  <ul>
    <li><a href="https://foodmagic.herokuapp.com">View the project's website</a></li>
    <li><a href="https://slides.com/dowtang/foodmagic">Presentation slides</a></li>
    <li><a href="http://youtu.be/V8xUNCZeG38?t=13m20s">Presentation Youtube</a></li>
    <li><a href="https://www.dropbox.com/s/qd6vxi7jd6p43ge/FoodMagic%20Presentation.key?dl=0">Design Document</a></li>
    <li><a href="https://github.com/dowtang/foodmagic">Github Repository</a></li>
    <li><a href="https://www.surveymonkey.com/s/Q6M9ZJZ">Feedback Survey</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>RecipeDB.me</h1>
  <h2>By Clement and Denis</h2>
  <ul>
    <li><a href="https://recipedb-me.herokuapp.com/">View the project's website</a></li>
    <li><a href="http://slides.com/clementchoi/deck">Presentation slides</a></li>
    <li><a href="http://youtu.be/V8xUNCZeG38?t=39m22s">Presentation Youtube</a></li>
    <li><a href="https://docs.google.com/presentation/d/1xbo8G_xCspXzK7BsP9lJgTxQOAtgZsPGcP60NSI-sTE/edit#slide=id.g5865f8b4e_021">Design Document</a></li>
    <li><a href="https://github.com/dshcheung/recipedb.me">Github Repository</a></li>
    <li><a href="https://www.surveymonkey.com/s/Q6WJM6R">Feedback Survey</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Fritter</h1>
  <h2>By Clement and Denis</h2>
  <ul>
    <li><a href="https://recipedb-me.herokuapp.com/">View the project's website</a></li>
    <li><a href="http://slides.com/clementchoi/deck">Presentation slides</a></li>
    <li><a href="http://youtu.be/V8xUNCZeG38?t=39m22s">Presentation Youtube</a></li>
    <li><a href="https://docs.google.com/presentation/d/1xbo8G_xCspXzK7BsP9lJgTxQOAtgZsPGcP60NSI-sTE/edit#slide=id.g5865f8b4e_021">Design Document</a></li>
    <li><a href="https://github.com/dshcheung/recipedb.me">Github Repository</a></li>
    <li><a href="https://www.surveymonkey.com/s/Q6WJM6R">Feedback Survey</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Fritter</h1>
  <h2>By Cassie and Dale</h2>
  <ul>
    <li><a href="https://wdi-fritter.herokuapp.com/">View the project's website</a></li>
    <li><a href="http://slides.com/cassiemak/fritter">Presentation slides</a></li>
    <li><a href="http://youtu.be/V8xUNCZeG38?t=1h14m52s">Presentation Youtube</a></li>
    <li><a href="https://docs.google.com/a/generalassemb.ly/document/d/1JanTKxI8oH81IaNd6OuHd1qt16H5Xl5CH2jWVjJJcBQ/edit">Design Document</a></li>
    <li><a href="https://github.com/gduck/fritter">Github Repository</a></li>
    <li><a href="https://www.surveymonkey.com/s/QDWXHHF">Feedback Survey</a></li>
  </ul>
</div>
