<div class="jumbotron">
  <h1>Instructors' Intro</h1>
  <h2>By Harry and Paul</h2>
  <ul>
    <li><a href="https://slides.com/harrychenca/programming-basics-13-13/edit">Introduction slides</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>PinCasa</h1>
  <h2>By Dow</h2>
  <ul>
    <li><a href="https://findproperty.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://slides.com/dowtang/foodmagic-1">Presentation slides</a></li>
    <li><a href="http://youtu.be/cqqVkvDaWj4?t=24m19s">Presentation Screencast</a></li>
    <!-- <li><a href="">Design Document</a></li> -->
    <li><a href="https://github.com/dowtang/findproperty">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>HikeHK</h1>
  <h2>By Cassie and Clement</h2>
  <ul>
    <li><a href="https://hikehk.herokuapp.com/#/">View the project's website (Web App)</a></li>
    <li><a href="http://slides.com/clementchoi/hikehk-2">Presentation slides</a></li>
    <li><a href="http://youtu.be/cqqVkvDaWj4?t=43m42s">Presentation Screencast</a></li>
    <li><a href="https://docs.google.com/a/generalassemb.ly/document/d/1oNZrvtdOy6T5ctmQWAYk4s8uuhtRn5xWdn0JwrQLa-Q/edit">Design Document</a></li>
    <li><a href="https://github.com/cchchoi1986/hikehk">Github Repository (Web App)</a></li>
    <li><a href="https://github.com/cchchoi1986/hikehk-mobile">Github Repository (Mobile App)</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Birthday Newz</h1>
  <h2>By Dale</h2>
  <ul>
    <li><a href="https://birthday-newz.herokuapp.com">View the project's website</a></li>
    <li><a href="http://slides.com/gduck/birthday-newz">Presentation slides</a></li>
    <li><a href="http://youtu.be/cqqVkvDaWj4?t=1h24m55s">Presentation Screencast</a></li>
    <li><a href="https://docs.google.com/document/d/12G2L22AfFSwab8EO_Yl6tkqJL5WyyxsR4LAqzAZ6Pqs/edit">Design Document</a></li>
    <li><a href="https://github.com/gduck/newz">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Colorful Blind</h1>
  <h2>By Vivien</h2>
  <ul>
    <li><a href="https://colorfulblind.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://s3.amazonaws.com/uploads.hipchat.com/169673/1435643/YhwwQfX40mziJoo/ColorfulBlindPresent.pdf">Presentation slides</a></li>
    <li><a href="http://youtu.be/cqqVkvDaWj4?t=1h46m10s">Presentation Screencast</a></li>
    <li><a href="https://drive.google.com/file/d/0B0WtIf3Op-CGa2FBRVk3bkh1bFF1cFRuNFpxT3dEZEFOUDR3/view">Design Document</a></li>
    <li><a href="https://github.com/vivientam/colorfulblind">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>LOLStatsDB</h1>
  <h2>By Denis</h2>
  <ul>
    <li><a href="http://ggstats.herokuapp.com/#/">View the project's website</a></li>
    <li><a href="http://slides.com/harunojikan/deck-2-2">Presentation slides</a></li>
    <li><a href="http://youtu.be/cqqVkvDaWj4?t=2h9m50s">Presentation Screencast</a></li>
    <li><a href="https://docs.google.com/presentation/d/11tBQ-3EFnu31h1Crz_PotAPnY9w9SnqqopT4NVO0Ouo/edit#slide=id.p">Design Document</a></li>
    <li><a href="https://github.com/dshcheung/lolstatsdb">Github Repository</a></li>
  </ul>
</div>
