<div class="jumbotron">
  <h1>Instructors' Intro</h1>
  <h2>By Harry and Paul</h2>
<!--   <ul>
    <li><a href="http://slides.com/harrychenca/programming-basics-13">Introduction slides</a></li>
  </ul> -->
</div>

<div class="jumbotron">
  <h1>My Baby Basket (Siu-Bo-Bo)</h1>
  <h2>By Cassie</h2>
  <ul>
    <li><a href="http://www.my-baby-basket.com/">View the project's website</a></li>
    <li><a href="https://github.com/cassiemak/XmasProject-Product-Review">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>The Game Exchange</h1>
  <h2>By Clement</h2>
  <ul>
    <li><a href="https://cchchoi1986-thegameexchange.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://github.com/cchchoi1986/thegameexchange">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Boxful</h1>
  <h2>By Denis</h2>
  <ul>
    <li><a href="https://boxful.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://github.com/dshcheung/boxful">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>WantMAW</h1>
  <h2>By Dale</h2>
  <ul>
    <li><a href="https://wantmaw.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://github.com/gduck/Project1">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Final Round</h1>
  <h2>By Dow</h2>
  <ul>
    <li><a href="https://interviewhelpapp.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://github.com/dowtang/interviewer">Github Repository</a></li>
  </ul>
</div>

<div class="jumbotron">
  <h1>Diabetes</h1>
  <h2>By Vivien</h2>
  <ul>
    <li><a href="https://diabetescured.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://github.com/vivientam/diabetes">Github Repository</a></li>
  </ul>
</div>
