<div class="jumbotron team">
  <h1>Meet the Students</h1>
  <div class="row">
    <div class="col-sm-4 col-xs-6">
      <p>Cassie Mak</p>
      <a href="http://www.cassiemak.com/"><%= image_tag 'cassie.png' %></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <p>Clement Choi</p>
      <a href="http://www.choiclement.com/"><%= image_tag 'clement.png' %></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <p>Dale Foo</p>
      <a href=""><%= image_tag 'dale.png' %></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <p>Denis Cheung</p>
      <a href="http://hk.linkedin.com/in/dshcheung/en"><%= image_tag 'denis.png' %></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <p>Dow Tang</p>
      <a href="https://www.linkedin.com/pub/dow-tang/21/129/252"><%= image_tag 'dow.png' %></a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <p>Vivien Tam</p>
      <a href="http://www.vivientam.co"><%= image_tag 'vivien.png' %></a>
    </div>
  </div>
</div>

<div class="jumbotron team">
  <h1>Meet the Instructors</h1>
  <div class="row">
    <div class="col-xs-6">
      <p>Harry Chen</p>
      <a href="http://www.harrychen.net/"><%= image_tag 'harry.jpg' %></a>
    </div>
    <div class="col-xs-6">
      <p>Paul Lugagne Delpon</p>
      <a href="http://paulld.com"><%= image_tag 'paul.png' %></a>
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1>About WDI</h1>
  <p class="wdi-description">WDI is General Assembly’s Web Development Immersive track. Think of it as bootcamp. We certainly have. To us, immersive means all day, every day, weekends and week nights, for 12 weeks straight. Students with completely different backgrounds, all retrained as web developers.</p>
  <p class="wdi-description">Graduates are trained in a variety of skills, including HTML, CSS, JavaScript, Angular.js, and Ruby on Rails, and they are eager to put their new skills to work. Ask them about their projects and experience!</p>

  <h1>About General Assembly:</h1>
  <p class="wdi-description">Established in early 2011 as an innovative community in New York City for entrepreneurs and startup companies, General Assembly is an educational institution that transforms thinkers into creators through education in technology, business and design at 13 campuses across four continents.</p>
</div>