<div class="jumbotron">
  <h1>About WDI</h1>
  <!-- <h2>By Harry and Paul</h2> -->
<!--   <ul>
    <li><a href="http://slides.com/harrychenca/programming-basics-13">Introduction slides</a></li>
  </ul> -->
</div>

<div class="jumbotron">
  <h1>Meet the Students</h1>
  <!-- <h2>By Cassie</h2> -->
  <!-- <ul>
    <li><a href="https://product-review.herokuapp.com/">View the project's website</a></li>
    <li><a href="https://github.com/cassiemak/XmasProject-Product-Review">Github Repository</a></li>
  </ul> -->
</div>

<div class="jumbotron">
  <h1>Meet the Instructors</h1>
  <!-- <h2>By Harry and Paul</h2> -->
<!--   <ul>
    <li><a href="http://slides.com/harrychenca/programming-basics-13">Introduction slides</a></li>
  </ul> -->
</div>
